#page {
    margin: 0 120px;
}

#page p {
    margin-bottom: 0.5em;
}

#page h1 {
    margin-top: 0.1em;
    margin-bottom: 1em;
}

#page .warning.note {
    background-color: red;
    box-shadow: 5px 5px 2.5px 0 red;
}

#page .note {
    padding: 1em;
    border-radius: 15px;
}

#nav-links {
    opacity: 0;
    transition: opacity .25s ease-out;
}

#nav-links:hover {
    opacity: 1;
    cursor: pointer;
}

.center-y {
    display: flex;
    align-items: center;
}

.center-x {
    display: flex;
    justify-content: center;
}
