html { font-size: 2em;}

/* All links generated through Dash should have pointer for hover */
a.link:hover, a.link:focus {cursor: pointer}

/* We embed a regular anchor tag inside Dash links so it has an href which
Bootstrap link-like anchor styles depend and so that the target url can be
copied. This means we need to disable events on the inner anchor so as to not
trigger a page-load when clicked. */
a.link a {pointer-events: none}

#main {
    margin: 0 120px;
}

#navbar {
    display: none;
}

#title {
    margin-bottom: 2em
}

#content {
    height: 100vh;
    font-family: 'Source Sans Pro';
}

/* need to clean these up */
#page .center {text-align: center;}
#page .pad-y .row {margin-bottom: 1em}
#page .pad-y-extra .row {margin-bottom: 2em}
#page .pad-top {margin-top: 2em}

h1  {
    text-align: center;
    margin-bottom: 0;
}

#page p {
    margin-bottom: 0.5em;
}

#page .warning.note {
    background-color: rgb(221, 87, 64);
    box-shadow: 5px 5px 2.5px 0 rgba(221, 87, 64, 0.7);
}

#page .note {
    background-color: rgb(66, 170, 244);
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px 0 rgba(66, 170, 244, 0.7);
}

#next-page {
    position: fixed;
    top: 0;
    right: 0;
}

#prev-page {
    position: fixed;
    top: 0;
    left: 0;
}

#nav-links {
    opacity: 0;
    transition: opacity .25s ease-out;
}

#nav-links:hover {
    opacity: 1;
    cursor: pointer;
}

.center-y {
    display: flex;
    align-items: center;
}

.center-x {
    display: flex;
    justify-content: center;
}

#page code {
    display: block;
    font-size: 60%;
}

.reveal {
    opacity: 0;
    transition: opacity .25s ease-out;
}

.reveal:hover {
    opacity: 1;
}


#page .Select *, #page .Select-value * {
    white-space: pre;
}

.vcenter-child > * {
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-self: center!important;
}

ul {
    margin-bottom: 0;
}
