html { font-size: 3em;}

/* All links generated through Dash should have pointer for hover */
a.link:hover, a.link:focus {cursor: pointer}

/* We embed a regular anchor tag inside Dash links so it has an href which
Bootstrap link-like anchor styles depend and so that the target url can be
copied. This means we need to disable events on the inner anchor so as to not
trigger a page-load when clicked. */
a.link a {pointer-events: none}

#navbar {
    display: none;
}

#next-page {
    position: fixed;
    top: 0;
    right: 30px;
}

#page {
    transition: opacity .25s ease-in-out;
    font-family: 'Source Sans Pro';
}

#page h1 {
    text-align: center;
    margin-bottom: 0.5em;
}

#page .center {text-align: center;}
#page .vertical-pad .row {margin-bottom: 1em}
