/* Classes for drawing hierarchical tree diagrams with ul and li elements. Taken
from https://two-wrongs.com/draw-a-tree-structure-with-only-css*/


.clt, .clt ul, .clt li {
     position: relative;
}

.clt ul {
    list-style: none;
    padding-left: 0.8rem;
}

.clt li::before, .clt li::after {
    content: "";
    position: absolute;
    left: -0.3rem;
}

/*y*/
.clt li::before {
    border-top: 3px solid #000;
    top: 0.7rem;
    width: 0.3rem;
    height: 0;
}

/*x*/
.clt li::after {
    border-left: 3px solid #000;
    height: 100%;
    width: 0px;
    top: 0.08rem;
}

.clt ul > li:last-child::after {
    height: 0.7rem;
}

.clt li {
    padding-left: 0.2rem;
}

.clt a {
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
